:root {
    --white-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-align: center;
    color: var(--white-color);

    display: flex;
    flex-direction: column;
   
    background: url('./assets/home.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    flex: 1 0 auto; 
}

.step_1 {
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    font-size: 28px;
}

.step_1__title {
    padding: 50px;
    color: rgb(66, 48, 48);
    text-shadow: 2px 2px 8px #913131; 
}

.btn__start-game {
    padding: 15px 25px;
    font-size: 22px;
    border: 2px solid rgb(195, 89, 89);
    border-radius: 10px;
    background-color: rgb(151, 162, 162);
    opacity: 0.7;
}

.btn__start-game:hover {
    font-size: 24px;
    border: 3px solid rgb(195, 89, 89);  
    cursor: pointer;
}

.step_2__title,
.step_3__title {
    /* font-size: 28px; */
    margin: 50px;
    color: rgb(68, 65, 65);
    text-shadow: 2px 2px 6px #f3ecec; 
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.levels {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.level {
    padding: 10px 20px;
    border: 2px solid rosybrown;
    border-radius: 10px;
    font-size: 26px;
    color: darkslategray;
}

.btn-card:hover,
.level:hover,
.mix-cards:hover,
.mythic-card-bg:hover {
    border: 2px solid rgb(195, 89, 89); 
    opacity: 0.8;
    cursor: pointer;
}

.btn-card:active,
.level:active,
.mix-cards:active,
.mythic-card-bg:active {
    border: 3px solid rgb(195, 89, 89); 
}

.active {
    border: 4px solid rgb(195, 89, 89); 
}

.mix-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
   margin:100px;
    /* text-align: center; */

    padding: 15px 25px;
    font-size: 22px;
    border: 2px solid rgb(195, 89, 89);
    border-radius: 10px;
    background-color: rgb(151, 162, 162);
    opacity: 0.7;

    /* border: 3px solid rgb(152, 55, 113);
    border-radius: 10px;
    font-size: 26px;
    color: rgb(39, 42, 42);
    background-color: rgb(152, 55, 113); */
}

.mix-cards:hover {
    /* font-size: 28px; */
    font-size: 24px;
    border: 3px solid rgb(195, 89, 89);  
    cursor: pointer;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.stages {
    margin-bottom: 40px;
}

.stage {
    margin-bottom: 30px;
}

.stage__title {
    font-size: 24px;
    margin-bottom: 11px;
    color: rgb(211, 202, 204);
}

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.circle {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    
    font-size: 26px;
    text-align: center;
    color: rgb(16, 32, 48);
}

.green {
    background-color: rgb(78, 140, 78); 
}

.red {
    background-color: rgb(195, 89, 89); 
}

.blue {
    background-color: rgb(63, 63, 212); 
}

.mythic-card-bg {
    margin-bottom: 40px;
    /* border: none; */
    border-radius: 10px;
}

/* Footer  */

.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}

.footer__btn {
    padding: 11px 15px;
    font-size: 16px;
    border: 2px solid rgb(195, 89, 89);
    border-radius: 10px;
    background-color: rgb(151, 162, 162);
    opacity: 0.7;
}

.footer__btn:hover {
    font-size: 18px;
    border: 3px solid rgb(195, 89, 89);  
    cursor: pointer;
}
